# Requires python=3.11
# Refer to oobabooga/text-generation-webui/blob/main/requirements.txt for the packages from github.com

gradio>=4.19.2
torch>=2.2.1
torchvision>=0.17.1
transformers>=4.37.2

# For GPTQ and AWQ
auto-gptq --no-build-isolation # See https://github.com/AutoGPTQ/AutoGPTQ
autoawq
accelerate
optimum

# For online quantization
bitsandbytes

# For GGUF
https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/cpu/llama_cpp_python-0.2.75+cpuavx2-cp311-cp311-linux_x86_64.whl
https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda_tensorcores-0.2.75+cu121-cp311-cp311-linux_x86_64.whl

# For API
openai
sse_starlette

# For training. Cuda compiler is needed
# conda install -y -c "nvidia/label/cuda-12.1.1" cuda
peft
deepspeed
https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.6/flash_attn-2.5.6+cu122torch2.2cxx11abiFALSE-cp311-cp311-linux_x86_64.whl

# For Qwen-VL
tiktoken
transformers_stream_generator

# For misc text postprocessing
langdetect
opencc-python-reimplemented # CN conversion



